/node_modules/
/vendor/
.env
storage/
public/hot
public/storage
public/mix-manifest.json
public/js/*.map
public/css/*.map
composer.lock
.env
.env.backup
docker-compose.yml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode